header { text-align:center;background-color: gold; color:purple; 
            font-size: 30px; font-weight: bold;}
h1 { text-align: center;
    }
h2 { color:gold; background-color: purple; text-align: center; font-weight:bold;}
